app-game {
  margin: 3%;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 3%;
  text-align: center;
  font-size: 3rem;
}
