@if (pokemonsSelected.length > 0) {
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th scope="col">Pokémon</th>
          <th scope="col">Type 1</th>
          <th scope="col">Type 2</th>
          <th scope="col">Habitat</th>
          <th scope="col">Couleur</th>
          <th scope="col">Stade évolution</th>
          <th scope="col">Taille</th>
          <th scope="col">Poids</th>
        </tr>
      </thead>
      <tbody>
        @for(pokemon of pokemonsSelected; track pokemon.id) {
          <tr>
            <td>
              <img [src]="pokemon.image" alt="{{ pokemon.name }}">
            </td>
            <td>
              <div class="pokemon-trait"  [ngClass]="getColor('type1', pokemon)">
                <span>{{ pokemon.type1 }}</span>
              </div>
            </td>
            <td>
              <div class="pokemon-trait" [ngClass]="getColor('type2', pokemon)">
                <span>{{ pokemon.type2}}</span>
              </div>
            </td>
            <td>
              <div class="pokemon-trait" [ngClass]="getColor('location', pokemon)">
                <span>{{ pokemon.location }}</span>
              </div>
            </td>
            <td>
              <div class="pokemon-trait" [ngClass]="getColor('color', pokemon)">
                <span>{{ pokemon.color }}</span>
              </div>
            </td>
            <td>
              <div class="pokemon-trait" [ngClass]="[getColor('evolutionStage', pokemon), getArrowClass('evolutionStage', pokemon)]">
                <span>{{ pokemon.evolutionStage }}</span>
              </div>
            </td>
            <td>
              <div class="pokemon-trait" [ngClass]="[getColor('height', pokemon), getArrowClass('height', pokemon)]">
                <span>{{ pokemon.height }}</span>
              </div>
            </td>
            <td>
              <div class="pokemon-trait" [ngClass]="[getColor('weight', pokemon), getArrowClass('weight', pokemon)]">
                <span>{{ pokemon.weight }}</span>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
